{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}ورود{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h3 class="mb-4 text-center">
        <i class="bi bi-box-arrow-in-right text-primary"></i> ورود
      </h3>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary w-100 mt-3">
          ورود
        </button>
      </form>
      <p class="text-center mt-3 text-muted">
        حساب ندارید؟ <a href="{% url 'register' %}">ثبت‌نام کنید</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}